
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  --green-color: #43ba7f;
  --orange-color: #ff511a;
  --lightBlue-color: #add8e6;
  --whiteColor: #ffffff;
  --yelloGreen-color: #9acd32;
  --box-shadow: 0 0 1.5rem rgba(0 0 0 / 0.1);
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
  transition: color 0.3s ease-in-out;
}

a:hover,
a.active {
  color: white;
}

.container {
  max-width: 1170px;
  padding: 0 1.5rem;
  margin-inline: auto;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.5rem 0;
  background-color: rgb(88, 87, 87);
  box-shadow: var(--box-shadow);
  transition: padding 0.3s ease-in-out;
}

nav.scrolled {
  padding: 2rem 0;
}

nav .container .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .container .row .logo {
  font-size: 2rem;
}

nav .container .row .menu-bar {
  display: flex;
  align-items: center;
  gap: 3rem;
}

nav .container .row .menu-bar li a {
  text-transform: capitalize;
  font-size: 1.8rem;
}

section {
  padding: 12rem 0;
  text-align: left;
  font-size: 5rem;
  /* text-transform: uppercase; */
  min-height: 100vh;
  display: block;  /* it was flex*/
  align-items: center;
  justify-content: center;
  color: var(--whiteColor);
}

#main {
  height: calc(100vh - 6rem);
  background-color: black;
}

#about {
  background-color: grey;
}

#skills {
  background-color: var(--green-color);
}
#resume {
  background-color: var(--lightBlue-color);
}
#contact {
  background-color: var(--yelloGreen-color);
}


.typing{
  display: flex;
  /* align-items: center; */
  justify-content: center;
  /* min-height: 100vh; */
  padding-top: 200px;
}

.wrapper{
  display: block;
}

.wrapper .static-txt{
  color: #fff;
  font-size: 60px;
  font-weight: 400;
}

.wrapper .dynamic-txts{
  margin-left: 15px;
  height: 90px;
  line-height: 90px;
  overflow: hidden;
}

.dynamic-txts li{
  color: #9f3411;
  list-style: none;
  font-size: 60px;
  font-weight: 500;
  position: relative;
  top:0;
  animation: slide 9s steps(3) infinite;
}

@keyframes slide {
  100%{
    top:-270px;
  }
  
}

.dynamic-txts li span::after{
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background: #010101;
  border-left: 2px solid white;
  animation: typing 3s steps(15) infinite;
}

@keyframes typing {
  100%{
    left: 100%;
    margin: 0 -35px 0 35px;
  }
  
}


.ledouter{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative; /* or static, depending on your layout needs */
  display: block;
}

.ledbody{
  display:block;
  justify-content: center;
  /* align-items: center; */
  /* min-height: 100vh; */
  height: 20px;

}

.led{
  position: relative;
  display: flex;
  height: 20px;
  justify-content: center;
}

.led span{
  position: relative;
  width: 50px;
  height: 10px;
}

.led span::before{
  content: '';
  position: absolute;
  inset: 0;
  background: #0f0;
  box-shadow: 0 0 5px #0f0,
  0 0 15px #0f0,
  0 0 30px #0f0,
  0 0 50px #0f0;
  animation: animate 8s linear infinite;
  animation-delay: calc(var(--i)* 0.1s);
}

@keyframes animate {
  0%{
    transform-origin: 0 20px;
    filter: hue-rotate(0deg);
  }
  20%{
    transform: rotate(calc(-90deg * var(--i)));
  }
  60%{
    transform: rotate(calc(0deg * var(--i)));
  }
  100%{
    filter: hue-rotate(calc(360deg));
  }
}



.name{
  height: 200px;
  display: flex;
  justify-content: center;
}
h1{
  position: relative;
  color: #111;
  font-size: 200px;
}
h1 span{
  display: table-cell;
  animation: name 2s linear infinite;
}
.space{
  padding-right: 100px;
}

h1 span:nth-child(1){
  animation-delay: 0s;
}
h1 span:nth-child(2){
  animation-delay: 0.25s;
}
h1 span:nth-child(3){
  animation-delay: 0.5s;
}
h1 span:nth-child(4){
  animation-delay: 0.75s;
}
h1 span:nth-child(5){
  animation-delay: 1s;
}
h1 span:nth-child(6){
  animation-delay: 1.25s;
}
h1 span:nth-child(7){
  animation-delay: 1.5s;
}

@keyframes name {
  0%,100%{
    color:#fff;
    filter: blur(2px);
    text-shadow: 0 0 10px #00b3ff,
    0 0 20px #00b3ff,
     0 0 40px #b54db3,
     0 0 80px #00b3ff;
  }
  5%,95%{
    color:#111;
    filter:blur(0px);
    text-shadow: 0 0 10px none;
  }
  
}