
body{
  background-color: black;
}

button{
  border-radius: 50%;
  width: 70px;
  height: 70px;
  font-size: 35px;
 

}


h1{
  color: white;
}

ul{
  color:white;
}

p{
  color:white;
}

.title {
  text-align: center;
  font-size: 5em; 
  position: relative;
  top: 50px; 
}

.full-page {
  width: 100vw; /* 100% of the viewport width */
  height: 100vh; /* 100% of the viewport height */
}


.about-me{
position: relative;
left: 45%;

}


.text-container {
  width: 40%;
  border: 1px solid black;
  word-break: break-all;
}